body {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 100px 750px 650px 750px 650px 200px;
    background-color: #cee9e2;
    margin: 0;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
}

.logo {
    height: 80px;
    width: 150px;
}

.mainSection {
    box-sizing: border-box;
    height: 750px;
    padding: 50px;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
}

.text {
    width: auto;
}

.titleP {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 7.5vw;
    margin-left: 40px;
}

.subtitleP {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    margin-left: 40px;
}

.imgdiv {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coding {
    height: 435px;
    width: 26vw;
}

.aboutSection {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 0;
}

.Me {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #cee9e2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.aboutDiv {
    display: inline-block;
    width: 450px;
}

.cent {
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}

.aboutText {
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
}

.Skillsection {
    grid-area: 4 / 1 / 5 / 3;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first,.second {
    display: inline-block;
    width: 750px;
}

.pic {
    height: 250px;
    width: 250px;
    float: left;
    margin: 30px;
}

h2 {
    font-family: "Radley", serif;
    font-size: 2.5rem;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
}

.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 5 / 1 / 6 / 3;
}

.lastH {
    font-family: "Montserrat", sans-serif;
    font-size: 4.5vw;
}

.contactbtn {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 200px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid #1C77C3;
}

.footersection {
    grid-area: 6 / 1 / 7 / 3;
    background-color: #1C77C3;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footed {
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

a {
    color: white;
    font-size: 1.5rem;
}

.inline {
    display: inline;
    margin: 10px;
    color: white;
    opacity: 50%;
}

@media(max-width: 1100px){
    .coding {
        height: 30vw;
    }

}

@media (max-width: 767px){
    .imgdiv {
        display: none;
    }

    .mainSection {
        grid-area: 2 / 1 / 3 / 3;
        justify-content: center;
    }

    .text {
        text-align: center;
    }

    .titleP {
        font-size: 3.2rem;
        margin: 0;
    }

    .subtitleP {
        margin: 0;
        font-size: 1.3rem;
    }

    .pic {
        height: 150px;
        width: 150px;
    }

    .first, .second {
        width: 400px;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 0.6rem;
    }

    .footed {
        gap: 50px;
    }

    a {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {

    .aboutDiv {
        width: 300px;
    }

    .aboutText {
        font-size: 0.8rem;
    }

    .first, .second {
        width: 300px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pic {
        height: 30vw;
        width: 30vw;
        margin: 10px;
        float: none;
    }

    h2 {
        font-size: 1.3rem;
        text-align: center;
    }

}